# dependencies (bun install)
node_modules

# output
dist/

# logs
logs
_.log
coverage.json

# dotenv environment variable files
.env
.mstudio*

# caches
.eslintcache
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store
